

<% @folders.each do |folder| %>
  <div class="card mx-auto" style="width: 90%;">
    <div class="card-body">
      <span class="user-name">
        <% if folder.user.avatar? %>
          <%= link_to (image_tag folder.user.avatar.to_s, class:"icon"), user_path(folder.user) %>
        <% else %>
          <%= link_to image_tag('/assets/default_user_image.jpg', class:"icon"), user_path(folder.user)  %>
        <% end %>
        <%= link_to folder.user.name, user_path(folder.user) %>
      </span>
      <p>
      <div class="ml-3">
        <span class="folder-title"><%= folder.title %></span>
        <span class="float-right mt-3">
          <span class="float-right">
            <%= link_to "","/game/#{folder.id}",class: "fas fa-gamepad fa-2x fa-fw mr-2 ml-3" %>
            <%= link_to "",folder_posts_path(folder),class: "fas fa-folder-open fa-2x fa-fw mr-1" %>        
            <% if folder.user == current_user %>
              <ul class="dropdwn">   
                <li ><span class="fas fa-caret-square-down fa-2x fa-fw"></span>              
                  <ul class="dropdwn_menu">      
                    <% if folder.user == current_user %>
                      <li><%= link_to "フォルダ名編集",edit_folder_path(folder) %></li> 
                      <li><%= link_to "トピック投稿",new_folder_post_path(folder) %></li> 
                      <li><%= link_to "フォルダ削除", folder_path(folder), method: :delete %></li>
                    <% end %>
                  </ul>
                </li>          
              </ul>        
            <% end %>
          </span>        
        </span>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @folders %>
<i class="far fa-caret-square-down"></i>