
<div class="mx-auto text-center">
  <hr>
    <div class="text-center">
      <button type="button" class="btn btn-outline-danger"><%= link_to "ランダム表示ボタン",folder_path %></button>
    </div>
  <hr>

  <div class="card text-center mx-auto w-75">
    <div class="card-body">
    <% @random.each do |post| %>
      <h1 class="card-text"><%= post.content %></h1>
    <% end %>
    </div>
  </div>
  <hr>
<div class="jumbotron">
  <%= form_with model: [@folder, @folder.posts.build],class: "form-inline" ,local:true do |f| %>
    <%= f.text_field :content,class: "form-control w-75" %>
    <%= f.submit "テーマを追加",class: "btn btn-primary"%>
  <% end %>
</div>



