<h1 class="text-center"><%= @folder.title %></h1>

<hr>
  <div class="text-center">
    <button type="button" class="btn btn-outline-danger"><%= link_to "再読み込みボタン",folder_path %></button>
  </div>
<hr>

<div class="card text-center mx-auto w-75">
  <div class="card-body">
  <h5 class="card-title">ランダムに表示↓</h5>
  <% @random.each do |post| %>
    <h1 class="card-text"><%= post.content %></h1>
  <% end %>
  </div>
</div>

<%= @folder.id %>
<hr>
<%= @folder.created_at %>
<hr>
<%= link_to "フォルダ削除",@folder,method: :delete %>

<hr>

<%= form_with model: [@folder, @folder.posts.build],local:true do |f| %>
  <%= f.label :トークテーマを入力してね！ %>
  <%= f.text_field :content %>
  <%= f.submit "投稿" %>
<% end %>

<hr>

<h1>トークテーマ一覧</h1>

<hr>

<% @posts.each do |post|%>
  <%= post.id %>
  <%= post.content %>
  <hr>
<% end %>