
<div class="jumbotron">
  <h1 class="display-4">ユーザー編集</h1>
    <%= form_with model:@user,local:true,class: "form-inline" do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.text_field :name,placeholder: "名前を入力",class: "form-control w-75" %>
      <%= f.text_field :email,placeholder: "emailを入力",class: "form-control w-75" %>
      <%= f.text_field :password,placeholder: "passwordを入力",class: "form-control w-75" %>
      <%= f.text_field :password_confirmation,placeholder: "password(確認)を入力",class: "form-control w-75" %>
      <%= f.submit "登録",class: "btn btn-primary submit-btn" %>
    <% end %>
</div>