<%= devise_error_messages! %>

<div class="jumbotron text-center">
  <h1 class="display-4">ログイン</h1>
  <%= form_for(resource, as: resource_name,class: "inline-block",url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-label-group form",id: 'session_email'%>
    </div>

    <div class="field mt-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password",class: "form-label-group form",id: 'session_password' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mt-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <%= f.submit "ログイン",class: "btn btn-primary form" %>

  <% end %>

  <%= form_for(resource, as: resource_name,url: session_path(resource_name)) do |f| %>
    <%= f.hidden_field :email, value: 'topituku@test.com' %>
    <%= f.hidden_field :password, value: 'password' %>
    <%= f.submit 'テストユーザーでログイン', class: 'btn btn-info mt-3 form' %>
  <% end %>  
</div>