

<% 
=begin
%>

あとで機能を追加する
フォルダ名:<%= @folder.title %>
<%= form_with model:[@folder, @folder.posts.build],local:true,class: "form-inline" do |f| %>
  <%= f.text_field:content,placeholder: "トピックを入力",class: "form-control w-75" %>
  <%= f.submit "投稿",class: "btn btn-primary submit-btn" %>
<% end %>

<%= link_to "ゲーム開始！",folder_path(@folder), class:"btn btn-info btn-lg game-btn" %>

<%
=end
%>

<% @posts.each do |post| %>
  <div class="card mx-auto" style="width: 90%;">
    <div class="card-body">
      <span class="card-title"><%= post.content %></span>
      <div class="float-right">
        <%#= link_to "編集",edit_folder_post_path(post),class: "btn btn-primary" %> 
        <%#= link_to "削除",folder_post_path(post), method: :delete,class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

        <%#= link_to "", folder_path(folder), method: :delete,class:"fas fa-trash-alt fa-border fa-2x"  %>   

